.forumdiv{
   box-shadow: 5px 10px 10px #666666;
   background-color: green;
   display: block;
   margin: 15px auto;
   width: 75%;
   outline: solid 4px yellow;
   position:inherit;
   padding: 15px;
}

.forumentry
{
  margin: 10px auto;
  outline: solid 2px yellow;
  padding: 10px;
  width: 50%;
  height: auto;
  box-shadow: 5px 10px 10px black;
  background-color: #5CCC00;
}

.forumsubmitbutton
{
  display:block;
  margin: 0 auto;
}

#forumname{
   border-radius: 20px;
   padding:5px;
}

.forumentry>textarea
{
  display:block;
  border: solid 2px black;
  box-shadow: 2px 2px 3px black;
  border-radius: 5px;
  width: 100%;
  min-height: 100px;
  max-width: 95%;
  min-width: 75%;
  margin: 10px auto 0 auto;
  max-height: 250px;
  padding:2px;
}

.forumposts{
  display: block;
  margin: 10px auto;
  border: solid 2px yellow;
  min-height: 200px;
  box-shadow: 5px 10px 10px black;
  background-color: #5CCC00;

}

.forumposts>div{
  display: block;
  margin: 10px auto;
  padding: 10px;
  border: solid 2px gray;
  width: 75%;
  min-height: 50px;
  background-color: #ffffff;
  box-shadow: 5px 10px 10px black;

}

.forumposts>div>p{
  text-align: center;
}
